<div class="home-container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Home Page</h1>
    <p class="lead">This is the home page of our Angular application.</p>
  </div>
  
  <div class="features">
    <h2 class="text-center">Cities</h2>
    <ul class="list-group">
      <li class="list-group-item">
        <img src="/assets/feature1.jpg" alt="Mexico City" class="feature-img" (click)="navigateToDirectives($event)">
        <div class="feature-text">
          <h3>Mexico City</h3>
          <p>Description of feature 1.</p>
        </div>
      </li>
      <li class="list-group-item">
        <img src="/assets/feature2.jpg" alt="Ottawa" class="feature-img" (click)="navigateToDirectives($event)">
        <div class="feature-text">
          <h3>Ottawa</h3>
          <p>Description of feature 2.</p>
        </div>
      </li>
      <li class="list-group-item">
        <img src="/assets/feature3.jpg" alt="Pretoria" class="feature-img" (click)="navigateToDirectives($event)">
        <div class="feature-text">
          <h3>Pretoria</h3>
          <p>Description of feature 3.</p>
        </div>
      </li>
      <li class="list-group-item">
        <img src="/assets/feature4.jpg" alt="Madrid" class="feature-img" (click)="navigateToDirectives($event)">
        <div class="feature-text">
          <h3>Madrid</h3>
          <p>Description of feature 4.</p>
        </div>
      </li>
      <li class="list-group-item">
        <img src="/assets/feature5.jpg" alt="London" class="feature-img" (click)="navigateToDirectives($event)">
        <div class="feature-text">
          <h3>London</h3>
          <p>Description of feature 5.</p>
        </div>
      </li>
    </ul>
  </div>
</div>