.card {
    margin-top: 1rem;
  }
  
  .card-header {
    background-color: #42b883;
    color: white;
  }
  
  .card-body {
    background-color: #f9f9f9;
  }
  
  .list-group-item {
    background-color: #f9f9f9;
  }